/* 覆盖el-menu颜色变量 */
.el-menu {
  --el-menu-bg-color: #304156;
  --el-menu-text-color: #bfcbd9;
  --el-menu-active-color: #409EFF;
}


:root {
  --sidebar-width: 210px; // 侧边栏宽度
  --sidebar-collapse-width: 65px; // 侧边栏收起时宽度
  --menu-bg: #304156; // 菜单背景颜色
}