:root {
  --sidebar-width: 210px; // 侧边栏宽度
  --sidebar-collapse-width: 56px; // 侧边栏收起时宽度
  --el-menu-bg-color: #e5733e;
  --el-menu-base-level-padding: 16px;
  --el-color-primary: #f96430; // elementui主题颜色
  --el-color-primary-light-3: #fe8c62;
  --el-color-primary-light-5: #f89976;
  --el-color-primary-light-7: #ffb093;
  --el-color-primary-light-8: #ffc4ae;
  --el-color-primary-light-9: #ffebe4;
  --el-color-primary-dark-2: #c64a1d;
  --el-border-radius-base: 2px;
  --app-color: #000000d9; // 默认文字颜色
  --app-font-size: 14px; // 默认文字大小
  --el-menu-hover-bg-color: #ff8c57;
}

/* 覆盖el-menu颜色变量 */
.el-menu {
  --el-menu-text-color: #fff; // 菜单文字颜色
  --el-menu-active-color: #fff;
}

.el-table {
  --el-table-header-bg-color: #f4b79a; // 表头背景颜色
  --el-table-header-text-color: #fff; // 表头文字颜色
  --el-table-text-color: #545454;// 表格文字颜色
}